@model IEnumerable<AwesomeizeCS.Domain.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<style>
 td {
        padding: 8px;
        text-align: left;
        max-width: 120px;
        font-size: 0.9em;
        word-wrap: break-word;
        word-break: normal;
    }
</style>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order)
        </th>
        <th>
            Description
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            Visible From
        </th>
        <th>
            Solvable From
        </th>
        <th>
            Solvable To
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasGrade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bonus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Parent)
        </th>
        <th>
            % Total
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
            if (ViewBag.currentCourse != null)
            {
                if (item.Course.Id == ViewBag.currentCourse)
                {
                    <tr>
                        <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisibleFromWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolvableFromWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolvableToWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageOutOfTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisibleFromWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SolvableFromWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SolvableToWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasGrade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bonus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Parent.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercentageOutOfTotal)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>